doctype html
html
    head
        title League Time
        link(href='css/bootstrap.min.css' rel='stylesheet')
        link(href='css/index.css' rel='stylesheet')
        script(src='js/index.js')
    body
        form#search.form-inline
            input.form-control(name='summoner' placeholder='summoner name...')
            button.btn.btn-primary(type='submit') Go
        div(style='text-align:center')
            img#icon
        div(style='position:absolute;left:5px;bottom:5px')
            a(href='img/sona.jpg' target='_blank')
                small something else
