#search {
    text-align: center;
    margin: 50px auto 25px;
    min-width: 300px;
    max-width: 600px;
    margin-bottom: 20px;
}

.content {
    text-align: center;
}

#status {
    margin: 20px auto;
}

#matches {
    margin: 20px auto;
}

.footer {
    margin: 10px 20px;
}

#icon {
    margin-top: 10px;
}

.match {
    font-family: monospace;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
